nav {
  position: sticky !important;
  top: 0;
  z-index: 999;
}
.navbarLeft__input {
  max-width: 450px;
  width: 40vw;
  background-color: #f9fafa;
}

.navbarLeft__input:focus {
  background-color: #f9fafa;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

.navbarRight__dropdown {
  right: 0;
  left: unset;
  display: unset;
  margin-top: 0.5em;
  width: 250px;
  padding: 0.5em;
}
