:root {
  --gray: #eef0f1;
  --gray-hover: #d2d6db;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--gray) !important;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
